<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MyDbConnection"
			 connectionString="Server=.;Database=DVLD;User Id=sa;Password=123456789ah"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="RegistryString" value="HKEY_CURRENT_USER\SOFTWARE\MyLoginInformation"/>
		<add key="Key" value="MySecretKey123456"/>
		<add key="IV" value="MyInitVector123456"/>
	</appSettings>
</configuration>
